

.base{
  /* background-color: black; */
  /* background: url(../resources/connectwork.png); */
  color:white;
}
.intro-container{

  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction:row; */
  /* flex:1; */
  /* align-items:center; */
}
.intro{
  /* justify-content:center !important; */
  text-align: center;
  /* padding-top: 20px; */
}
.title{
  /* font: Roboto Mono; */
  text-align: center;
font-family: 'Libre Baskerville', serif;
}
.subtitle{
  text-align: center;
  font-family: 'Nanum Myeongjo', serif;
  font-style: italic;
}

.summary{
  padding-top: 10px;
margin-left:5em;
  font-family: 'Libre Baskerville', serif;

}

.profile-pic-container{
  /* justify-content:center !important; */
text-align: center;
  display:grid ;
  /* padding-left: 50px; */
  padding: 20px;
  /* margin-left: 50px; */
  z-index: 100;
}
.profile-pic-dov{
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 10;

}
.profile-pic-img{
  margin-bottom: 20px;

  border-radius: 50%;
}
/* .centered {
  display: flex;
  align-items: center;
} */
