.experience-content{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:50px;
  /* width: 90%; */
  /* max-width: 800px; */
}
.experience-company-info{
  display: grid;
  justify-items:center;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
}
.experience-description{

}
.experience-img{
  margin-bottom: 20px;
  max-width: 200px;
  max-height: 200px;
}
.experience-content-container{
  display: inline-block;

  width: 90%;
  /* min-width: 500px; */
  max-width: 800px;
}
