.experience-content{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  /* margin:50px; */

    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  /* width: 90%; */
  max-width: 75%;
}
.exp-list-item{
  margin: 0 0 8px 0;
}
@media only screen and (max-width: 800px) {
  .experience-content{
    margin: 30px;
     max-width: 100%;
  }
}
.experience-company-info{
  display: grid;
  justify-items:center;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
}
.experience-description{
  background: black;
}
.experience-img{
  margin-bottom: 20px;
  max-width: 200px;
  max-height: 200px;
}
.experience-content-container{
  display: inline-block;
  z-index: 100;

  /* width: 90%; */
  /* min-width: 500px; */
  max-width: 800px;
}
