.icon{
padding: 20px;
text-align: center;

}
.icon:hover{
  /* cursor: pointer; */
}
.icon-img{
  padding: 10px;
  margin-bottom: 5px;
}
.icon-text{
      color:white!important;
font-size: 1em;
      display: block;
}
/* .selected{
  background-color: red!important;
} */
