.project-content{
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}
.project-img:hover{
cursor: pointer;
}
.project-company-info{
  display: grid;
  justify-items:center;
  justify-content: center;
  text-align: center;
}

.project-img{
  margin-bottom: 20px;
  max-width: 200px;
  max-height: 200px;
}
.project-content-container{
  display: inline-block;
  width: 90%;
  max-width: 800px;
  margin-bottom: 5vh;
  margin-top: 5vh;

}
.border-container{
  border: 2px ridge gold;
  border-radius: 10px;
  margin-top:20px;
  margin: 0 auto;
  width: fit-content;
}
.project-main-tag-caption:hover{
  cursor: pointer;
}
.project{
  padding: 15px;
}

@media only screen and (max-width: 450px) {

  .project{
    padding: 30px;
  }
  .project-content{
    margin-top: 3vh;
    margin-bottom:0px;
  }
}

.proj-border-container{
  border-top: 2px ridge white;
  /* margin: 0 auto;
   */
   margin:10px;
  color: white!important;
}
.project-tag-caption{
    text-align: center;
    margin-top: -10px;
    height: 20px;
    line-height: 20px;
    font-size: 22px;
}
.project-main-tag-caption{
      text-align: center;
      margin-top: -15px;
      height: 30px;
      line-height: 30px;
      font-size: 24px;
}

.project-main-tag-caption span{
    padding: 0 10px;
    background-color: black !important;
}
.project-tag-caption span{
    padding: 0 10px;
    background-color: black !important;
}
.project-tags{
    display: flex;
    /* max-width: 90%; */
    width: fit-content;
    padding: 20px;
    margin: 0 auto;
    align-content: center;
    flex-flow: row wrap;
}
