.project{
  background-color: black;
}
.project-intro{
color: white !important;
    margin: 20px;
    font-size: 28px;
    text-align: center;
}
.proj-section-title{
  background-image: linear-gradient(white, black);
  min-height: 100px;
  /* font-weight: bold; */
  /* color:white; */
}
