
.thumb img{
  display:inline-block !important;
  /* visibility: visible!important;
  dis */
}
/* .modal-show{
  background-color: grey; */
/* } */
/* .header{
  background-color: cyan;
  color:white;
  height:80px;
} */
.close-modal-btn{
  /* position: absolute;
  top:2em;
  right:2em;
  padding: .5em; */
  margin-left: auto;
  width: 50px;
  height: 50px;
  text-align: center;

}
.close-modal-btn:hover{
  cursor: pointer;
  color: #dc3545;
}

.modal-header{
  margin-bottom: 20px;

  /* justify-content: flex-start; */
  justify-content: space-between;
}
