
.skills{
  background-color: black;
   background: url(../resources/connectwork.png);
  color:white;
  /* display: flex; */
  /* align-content: center; */
}
.skills-container{
  /* display: inline-block; */
  display: flex;
  flex-flow: row wrap;
  width:100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  max-width: 1000px;

}
.skills-intro{
  margin: 20px;
  font-size: 28px;
  text-align: center;
}
/* .header{
  background-color: cyan;
  color:white;
  height:80px;
} */
.clear-button{
  /* display: */
  padding: 10px;
  margin-bottom: 20px;
}
.full-filter-container{
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}
.centerflex{
  display: flex;
  justify-content: center;
}
.filter-container{
  display: flex;
  max-width: 90%;
  padding: 20px;
  margin: 0 auto;
  align-content: center;
  flex-flow: row wrap;
  /* max-width: 1000px; */
}
