.skills-icon{
padding: 20px;
text-align: center;
flex: 1 0 calc(10% - 3px);
max-width: 200px;
}
.filter-icon-text{
  color: black!important;
  font-size: 1em;
        display: block;
}
.skills-icon:hover{
  cursor: pointer;
}
.skills-icon:hover img{
  opacity: 1;
  /* padding: 5px; */
}
.skills-icon-img{
  padding: 10px;
  margin-bottom: 5px;
  opacity: .7;
}
.filter-icon-img{
    padding: 10px;
    margin-bottom: 5px;
    opacity: 1;

}

.skills-icon-text{
      /* color:white!important; */
font-size: 1em;
      display: block;
}
.selected-filters{
  /* background-color: red!important; */
  /* text-shadow: 0 0 3px yellow;
  font-weight: 400; */
  font-weight: bold;
  /* color: cyan; */
}
.selected-filters img{
  opacity: 1;
  padding:5px;
}
